# Here is where we will have our code for the Final Project itself.

## Table of Contents

This cells serves as an outline of what we can do for this project. It is based on A4.

### Part 1: Load and Clean the Data
#### 1A) Loading the data
#### 1B) Finding missing data
#### 1C) Cleaning up the missing data
#### 1D) Standardize and transform the data

### Part 2: Exploratory Data Visualization
This part depends on the features of our dataset. Since our hypothesis focuses on console and year, we can plot distributions of this against global and/or regional sales.
#### 2A) Scatter Matrix
#### 2B) Bar Chart
#### 2C) Histogram

### Part 3: Exploring the Data
In this part, we will figure out basic properties of the data. We can look at the different statistical properties of the different features in the dataset. 

### Part 4: Testing Distributions
#### 4A) Determining Normality

### Part 5: Data Analysis
We proposed that we would use Multiple Linear Regression to determine the p-values of the features we are interested in, and then compare this to an alpha level of 0.001 (?). We will also use an ANOVA Test (a statistical test to figure out the differences among group means in a sample) on the categorical features of interest.

Afterwards, we could explore some more, and determine if there are any confounding variables.


### Part 6: Conclusions and Summary

### Some extra stuff we CAN do (if time permits)
We could use clustering to determine distinct clusters of the video games below. Suppose we find a cluster that achieves a relatively high number of sales. This can then lead us to believe that video games with the properties defined by that cluster are the properties that strongly correlate with increased video game sales.

### Research Question: What factors lead to the greatest accumulation of global video game sales from 1980-2017?
### Hypothesis: We believe that the console itself has the most impact on video game sales, whereas year released is the least impactful. Consoles will have the most impact on video game sales because of affordability, customer brand loyalty, and the notion that people who grow up with one console only tend to buy games compatible with that console only. The year the game was released would be least impactful because each year, a number of factors can change sales, and so the year released would be confounded with these various factors.

## Import necessary packages

In [1]:
import pandas as pd

## Part 1: Loading in the Data

In [2]:
df = pd.read_csv('vgsalesGlobale.csv')

In [3]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [4]:
print('No. rows: ', df.shape[0])
print('No. cols: ', df.shape[1])

No. rows:  16598
No. cols:  11

### Finding and Cleaning Missing Data

In [5]:
# Get the number of observations that are missing data for each column
no_missing = df.isnull().sum()
percent_missing = no_missing / df.shape[0]
missing_data_df = pd.DataFrame([no_missing, percent_missing]).T
missing_data_df.columns = ['No. Missing', 'Percentage Missing']

In [6]:
missing_data_df

              No. Missing  Percentage Missing
Rank                  0.0            0.000000
Name                  0.0            0.000000
Platform              0.0            0.000000
Year                271.0            0.016327
Genre                 0.0            0.000000
Publisher            58.0            0.003494
NA_Sales              0.0            0.000000
EU_Sales              0.0            0.000000
JP_Sales              0.0            0.000000
Other_Sales           0.0            0.000000
Global_Sales          0.0            0.000000

Above is a dataframe showing the number of missing data for each column, along with the percentage of the data that they make up. Below, we extract these rows and place them into `missing_rows`.

In [7]:
missing_rows = df[df.isnull().any(axis=1)]
missing_rows

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
377,378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
431,432,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.86,1.02,0.00,0.29,3.17
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,NaN,1.57,1.02,0.00,0.41,3.00
607,608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.00,0.03,2.53
624,625,Rock Band,X360,NaN,Misc,Electronic Arts,1.93,0.34,0.00,0.21,2.48
649,650,Frogger's Adventures: Temple of the Frog,GBA,NaN,Adventure,Konami Digital Entertainment,2.15,0.18,0.00,0.07,2.39
652,653,LEGO Indiana Jones: The Original Adventures,Wii,NaN,Action,LucasArts,1.54,0.63,0.00,0.22,2.39
711,713,Call of Duty 3,Wii,NaN,Shooter,Activision,1.19,0.84,0.00,0.23,2.26
782,784,Rock Band,Wii,NaN,Misc,MTV Games,1.35,0.56,0.00,0.20,2.11
1126,1128,Call of Duty: Black Ops,PC,NaN,Shooter,Activision,0.58,0.81,0.00,0.24,1.63
1133,1135,Rock Band,PS3,NaN,Misc,Electronic Arts,0.99,0.41,0.00,0.22,1.62
1303,1305,Triple Play 99,PS,NaN,Sports,NaN,0.81,0.55,0.00,0.10,1.46
1433,1435,LEGO Harry Potter: Years 5-7,Wii,NaN,Action,Warner Bros. Interactive Entertainment,0.76,0.47,0.00,0.13,1.36
1498,1500,LEGO Batman: The Videogame,PSP,NaN,Action,Warner Bros. Interactive Entertainment,0.57,0.46,0.00,0.28,1.32
1513,1515,Adventure,2600,NaN,Adventure,Atari,1.21,0.08,0.00,0.01,1.30
1585,1587,Combat,2600,NaN,Action,Atari,1.17,0.07,0.00,0.01,1.25
1649,1651,NASCAR Thunder 2003,PS2,NaN,Racing,Unknown,0.60,0.46,0.00,0.16,1.22
1662,1664,Shrek / Shrek 2 2-in-1 Gameboy Advance Video,GBA,2007.0,Misc,NaN,0.87,0.32,0.00,0.02,1.21
1697,1699,Hitman 2: Silent Assassin,XB,NaN,Action,Eidos Interactive,0.76,0.38,0.00,0.05,1.19
1837,1839,Rock Band,PS2,NaN,Misc,Electronic Arts,0.71,0.06,0.00,0.35,1.11
1990,1992,Legacy of Kain: Soul Reaver,PS,NaN,Action,Eidos Interactive,0.58,0.40,0.00,0.07,1.04
2019,2021,Donkey Kong Land III,GB,NaN,Platform,Nintendo,0.68,0.31,0.00,0.04,1.03
2086,2088,LEGO Harry Potter: Years 5-7,X360,NaN,Action,Warner Bros. Interactive Entertainment,0.51,0.39,0.00,0.09,0.99
2113,2115,Air-Sea Battle,2600,NaN,Shooter,Atari,0.91,0.06,0.00,0.01,0.98
2114,2116,Suikoden III,PS2,NaN,Role-Playing,Unknown,0.29,0.23,0.38,0.08,0.98
2134,2136,Yakuza 4,PS3,NaN,Action,Sega,0.15,0.14,0.63,0.05,0.97
2145,2147,LEGO Harry Potter: Years 5-7,PS3,NaN,Action,Warner Bros. Interactive Entertainment,0.36,0.45,0.00,0.16,0.97
2173,2175,Wheel of Fortune,PS2,NaN,Misc,Unknown,0.47,0.36,0.00,0.12,0.95
2222,2224,Bentley's Hackpack,GBA,2005.0,Misc,NaN,0.67,0.25,0.00,0.02,0.93
...,...,...,...,...,...,...,...,...,...,...,...
15606,15609,Writing and Speaking Beautiful Japanese DS,DS,NaN,Misc,Unknown,0.00,0.00,0.02,0.00,0.02
15652,15655,Virtua Quest,PS2,NaN,Role-Playing,Unknown,0.01,0.01,0.00,0.00,0.02
15697,15700,Shonen Jump's Yu-Gi-Oh! GX Card Almanac,DS,NaN,Misc,Konami Digital Entertainment,0.00,0.00,0.02,0.00,0.02
15717,15720,Without Warning,XB,NaN,Shooter,Capcom,0.01,0.00,0.00,0.00,0.02
15739,15742,Football Manager 2007,X360,NaN,Sports,Sega,0.00,0.01,0.00,0.00,0.02
15788,15791,"Moshi, Kono Sekai ni Kami-sama ga Iru to suru ...",PSV,2016.0,Adventure,NaN,0.00,0.00,0.02,0.00,0.02
15811,15814,Ferrari: The Race Experience,Wii,NaN,Racing,System 3 Arcade Software,0.00,0.01,0.00,0.00,0.02
15865,15868,PDC World Championship Darts 2008,DS,NaN,Sports,Unknown,0.01,0.00,0.00,0.00,0.02
15876,15879,Dinotopia: The Sunstone Odyssey,GC,NaN,Action,Unknown,0.01,0.00,0.00,0.00,0.02
15878,15881,Dance! It's Your Stage,Wii,NaN,Misc,DTP Entertainment,0.00,0.01,0.00,0.00,0.02
15900,15903,Jet Impulse,DS,NaN,Simulation,Nintendo,0.00,0.00,0.02,0.00,0.02
15915,15918,Dream Dancer,DS,NaN,Misc,NaN,0.01,0.00,0.00,0.00,0.02
16057,16060,PDC World Championship Darts 2008,PSP,NaN,Sports,Oxygen Interactive,0.01,0.00,0.00,0.00,0.01
16058,16061,WRC: FIA World Rally Championship,PC,NaN,Racing,Black Bean Games,0.00,0.01,0.00,0.00,0.01
16065,16068,Aquaman: Battle for Atlantis,XB,NaN,Action,Unknown,0.01,0.00,0.00,0.00,0.01
16191,16194,Homeworld Remastered Collection,PC,NaN,Strategy,NaN,0.00,0.01,0.00,0.00,0.01
16194,16197,Shorts,DS,NaN,Platform,Unknown,0.01,0.00,0.00,0.00,0.01
16198,16201,AKB1/48: Idol to Guam de Koishitara...,X360,NaN,Misc,NaN,0.00,0.00,0.01,0.00,0.01
16208,16211,Super Robot Monkey Team: Game Boy Advance Vide...,GBA,2005.0,Misc,NaN,0.01,0.00,0.00,0.00,0.01
16229,16232,Brothers in Arms: Furious 4,X360,NaN,Shooter,NaN,0.01,0.00,0.00,0.00,0.01
16246,16249,Agarest Senki: Re-appearance,PS3,NaN,Role-Playing,Idea Factory,0.00,0.00,0.01,0.00,0.01
16307,16310,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0.00,0.00,0.00,0.01
16327,16330,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01
16366,16369,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,Unknown,0.01,0.00,0.00,0.00,0.01
16367,16370,Dance with Devils,PSV,2016.0,Action,NaN,0.00,0.00,0.01,0.00,0.01
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01
16494,16497,Legends of Oz: Dorothy's Return,3DS,2014.0,Puzzle,NaN,0.00,0.01,0.00,0.00,0.01
16543,16546,Driving Simulator 2011,PC,2011.0,Racing,NaN,0.00,0.01,0.00,0.00,0.01
16553,16556,Bound By Flame,X360,2014.0,Role-Playing,NaN,0.00,0.01,0.00,0.00,0.01

`missing_rows` contains all of the rows that contain at least one missing value. Of all of the features in our data, only `Year` and `Publisher` are missing.

In [8]:
print('Proportion of total data that has at least one missing value: ', len(missing_rows) / df.shape[0])

Proportion of total data that has at least one missing value:  0.018496204361971323

As you can see, the proportion of our data where there is at least one missing value takes on a very small amount: < 2%.
Given that such a small percentage of our data is missing values, we have decided that it would be quicker and easier to simply drop these rows.

In [9]:
df.dropna(inplace=True)

In [10]:
print('New amount of rows: ', df.shape[0])
print('New amount of cols: ', df.shape[1])
df.describe()

New amount of rows:  16291
New amount of cols:  11

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000
mean,8290.190228,2006.405561,0.265647,0.147731,0.078833,0.048426,0.540910
std,4792.654450,5.832412,0.822432,0.509303,0.311879,0.190083,1.567345
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4132.500000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8292.000000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12439.500000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.480000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

Using `df.describe()`, we can see a quick summary of our dataset. 

Here are some interesting things to note from the summary:

- The maximum `Year` is 2020, which is obviously wrong, since the current year is 2019. Below, we look more into the row(s) with this `Year`.
- The minimum `NA_Sales`, `ED_Sales`, `JP_Sales`, and `Other_Sales` is 0.0. These `Sales` are measured in the millions, so a value of 0.0 would mean that the game sold less than a million copies. However, it could also mean that the game was not sold in that particular region. We will keep track of this insight.
- The `Rank` of each game is unique. That means there are 16,291 unique ranks. These ranks result from the game's `Global_Sales`, which is the feature we are trying to predict/ make models from. So, we should ignore this feature. Below, we drop the `Rank` feature.

In [17]:
df.drop('Rank')

KeyError: "['Rank'] not found in axis"

Let's look at the game made in `2020`.

In [11]:
df.loc[df['Year'] == 2020]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
5957,5959,Imagine: Makeup Artist,DS,2020.0,Simulation,Ubisoft,0.27,0.0,0.0,0.02,0.29

Since it is only one row, simply Googling this can help us fix the `Year`. After a quick search, the correct `Year` is: 2009.

In [12]:
df.loc[df['Year'] == 2020, 'Year'] = 2009
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000
mean,8290.190228,2006.404886,0.265647,0.147731,0.078833,0.048426,0.540910
std,4792.654450,5.831475,0.822432,0.509303,0.311879,0.190083,1.567345
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4132.500000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8292.000000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12439.500000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.480000
max,16600.000000,2017.000000,41.490000,29.020000,10.220000,10.570000,82.740000

### Standardizing the Data